<style>
    body{
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
        background-color: aliceblue;
        background-attachment: fixed;
    }
    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .input_box{
        border-radius: 20px;
        width: 100%;
        padding: 15px;
        font-weight: bold;
        border: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
    }

    .input_box:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    .prof_lab{
        margin-top: 15px;
        font-size: 18px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    .head_header_edit{
        font-weight: 600;
    }

     .btn{
        width: 250px;
        background-color: rgb(38, 82, 164);
        color: white;
        font-weight: 700;
        border-radius: 10px;
        padding: 10px;
        transition: background-color 0.3s ease;
        margin-left: 5px;
    }
    .btn:hover{
        background-color:  rgb(123, 180, 230);
        color: rgb(38, 82, 164);
    }

    .update_prof_btn{
        background-color: rgb(123, 180, 230);
        margin-top: 5px;
    }
    .update_prof_btn:hover{
        background-color: rgb(38, 82, 164);
        color: white;
    }

    @media (max-width: 1200px) {
        .btn{
        width: 100px;
    }
    }
</style>

<section>
    <div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
                <h2 class="text-center head_header_edit">EDIT PROFILE</h2>
                <form action="/admin/admin_user_edit_profile/{{user._id}}" method="POST" enctype="multipart/form-data">
                    <label class="prof_lab" for="">Name</label>
                    <input type="text" name="Name" class="form-control input_box" value="{{user.Name}}">

                    <label class="prof_lab" for="gender">Gender</label>
                    <select name="gender" class="form-control input_box" style="height: 55px;">
                        <option value="Male" {{#if (eq user.Gender "Male")}}selected{{/if}}>Male</option>
                        <option value="Female" {{#if (eq user.Gender "Female")}}selected{{/if}}>Female</option>
                        <option value="Custom" {{#if (eq user.Gender "Custom")}}selected{{/if}}>Custom</option>
                    </select>



                    <label class="prof_lab" for="">Email</label>
                    <input type="email" name="Email" class="form-control input_box" value="{{user.Email}}">

                    <label class="prof_lab" for="">Contact No</label>
                    <input type="text" name="Contact" class="form-control input_box" value="{{user.Contact}}">

                    <label style="display: block;" class="prof_lab"  for="">Image</label>
                    <img style="width:120px;margin-bottom: 10px;" src="/user-images/{{user._id}}.jpg" alt="" style="width:100px;" id="userView">
                    <input  type="file" name="Image" class="form-control input_box" onchange="viewpImage(event)"><br>

                    <a style="width:100%" href="/admin/update_user_profile_admin/{{user._id}}">
                        <button style="width:100%" type="button" class="btn update_prof_btn">Update profile</button>
                    </a><br>

                    <div class="button-container">
                        <button type="submit" class="btn  mt-4">Submit</button>
                        <button type="reset" class="btn  mt-4">Reset</button>
                        <a href="/profile" class="btn  mt-4">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function viewpImage(event){
        document.getElementById('userView').src = URL.createObjectURL(event.target.files[0])
    }
</script>