<style>
    body{
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
         background-attachment: fixed;
         background-color: aliceblue;
         /* background-color: rgba(255, 255, 255, 0.8);*/
    }

    .profile_image_internshipportal{
        width: 50px;
        border-radius: 50%;
    }

    .internship_posted_name{
        font-weight: bolder;
    }

    .profile_view_internship_button,.profile_delete_internship_button{
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        background-color: rgb(38, 82, 164);
        font-weight: 700;
        text-decoration: none;
        color: white;
        transition: background-color 0.3s ease;
    }

    .profile_view_internship_button:hover{
        border-radius: 20px;
        background-color: rgb(100, 173, 213);
        color: white;
    }

    .profile_delete_internship_button:hover{
        border-radius: 20px;
        background-color: rgb(228, 15, 15);
        color: white;
    }
    

    .internss{
        width: 100%;
        margin-top: 50px;
        padding: 5px;
        margin-bottom: 50px;
        background-color:rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
        border: none;
    }

    .heading_head{
        font-weight: bold;
        font-size: 25px;
    }

    .intern_detail_text{
        font-weight:bold;
        color:rgb(38, 82, 164);
    }

    

    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
        .heading_head{
        font-weight: bold;
        font-size: 22px;
    }
    }
</style>


<section class="container" style="padding-top: 100px;">
    <div>
    {{#each interns}}
    <div class="card internss">
        <div class="card-body">
            <p class="card-title heading_head">Profile details</p><br>
            <div style="display: flex;">
                <h6 ><strong>Full name : <span class="intern_detail_text">{{this.firstName}} {{this.lastName}}</span></strong></h6>
            </div><br>
            <div style="display: flex;">
                <h6 style="display: inline-block;"><strong>Seeking for <span class="intern_detail_text">{{this.jobintern}}</span> in the field of <span class="intern_detail_text">{{this.Interest}}</span></strong></h6>
            </div><br>
            <div style="display: flex;">
                <h6 style="display: inline-block;"><strong>Current location :&nbsp;</strong></h6>
                <h6  class="card-text intern_detail_text">{{this.LocationCurrent}}</h6>
            </div><br>
            <div style="display: flex;">
                <h6 ><strong>Preffered working mode : <span class="intern_detail_text">{{this.workmode}}</span></strong></h6>
            </div><br>
            <h6 style=""><strong>Posted by : </strong></h6>
            <div style="display: inline-block;padding:20px">
                    <a href="/view-profile/{{this.UserId}}">
                        <img class="profile_image_internshipportal profileImageAlternate" src="/user-images/{{this.UserId}}.jpg" alt="Card image cap" style="width: 50px;height: 50px;border-radius: 50%;object-fit:contain">
                    </a>
                </div>
                <div style="display: inline-block;">
                    <a style="text-decoration: none;color:black;" href="/view-profile/{{this.UserId}}">
                        <p class="internship_posted_name">{{this.Name}}</p>
                    </a>
                </div>
                <div style="display: flex;border-radius:20px;background-color:white;">
                    <a href="/admin/internship_details/{{this._id}}" class="btn profile_view_internship_button" >View details</a>
                </div>
                <div style="display: flex;border-radius:20px;background-color:white; margin-top:10px;">
                    <a href="javascript:void(0)" onclick="deleteinternsship_by_admin('{{this._id}}','{{this.UserId}}','{{this.Name}}')" class="btn profile_delete_internship_button" >Delete</a>
                </div>
                
            </div>
        </div>
    </div>
    {{/each}}
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const profileImages = document.querySelectorAll('.profileImageAlternate');
        profileImages.forEach(img => {
            const imageUrl = img.src;
            fetch(imageUrl)
                .then(response => {
                    if (!response.ok) {
                        img.src = "/user-images/user.png";
                    }
                })
                .catch(error => {
                    console.error("Error fetching image:", error);
                    img.src = "/user-images/user.png";
                });
        });
    });

    function deleteinternsship_by_admin(internId,user_id,user_name) {
        if (confirm("Do you want to delete this internship request from the Portal?")) {
            $.ajax({
            url: '/admin/delete_admin_intern_form_portal',
            method: 'post',
            data: {
                InterN: internId,
                ProfilEID:user_id,
                ProfilENAME:user_name
            },
            success: function (response) {
                if (response.deleteIntern) {
                location.reload();
                }
            },
            });
        }
    }
</script>