<style>
     body{
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
         background-attachment: fixed;
         background-color: aliceblue;
         /* background-color: rgba(255, 255, 255, 0.8);*/
    }

    .profile_image_internshipportal{
        width: 50px;
        border-radius: 50%;
    }

    .internship_posted_name{
        font-weight: bolder;
    }

    .profile_view_internship_button{
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        background-color: rgb(38, 82, 164);
        font-weight: 700;
        text-decoration: none;
        color: white;
    }

    .profile_view_internship_button:hover{
        border-radius: 20px;
        color: white;
    }

    .intern_Detail_Box{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        padding:20px;
        background-color:rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
        border: none;
    }

    .ind_int_text{
        color: rgb(38, 82, 164);;
    }

    .ind_int_par{
        font-size: 18px;
        font-weight: 500;
    }

    .input_box{
        width: 100%;
        padding: 15px;
        font-weight: bold;
        border: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
    }

    @media (max-width: 450px) {
        .ind_int_par{
        font-size: 16px;
        font-weight: 500;
    }
    }

    
</style>

<section class="container" style="padding-top: 100px;">
    <div class="card intern_Detail_Box">
        <h5 style="font-weight: bolder;" class="card-title">Candidate Details</h5><br>
        <img style="width: 300px;height:300px;border-radius:50%; object-fit:contain" class="card-img-top " src="/internship-folder/profile-pictures/{{indintern._id}}.jpg" alt="No image available">
        <div class="card-body">
            <h6 class="ind_int_text"><strong>Full name :</strong></h6>
            <p class="card-text ind_int_par">{{indintern.firstName}} {{indintern.lastName}}</p><br>

            <h6 class="ind_int_text"><strong>Gender :</strong></h6>
            <p class="card-text ind_int_par">{{indintern.gender}}</p><br>

            <h6 class="ind_int_text"><strong>Email id :</strong></h6>
            <p class="card-text ind_int_par">{{indintern.Email}}</p><br>

            <h6 class="ind_int_text"><strong>Seeking an internship/job opportunity in the field of :</strong></h6>
            <p class="card-text ind_int_par">{{indintern.Interest}}</p><br>

            <h6 class="ind_int_text"><strong>Currently looking for (job / internship) :</strong></h6>
            <p class="card-text ind_int_par">{{indintern.jobintern}}</p><br>

            <h6 class="ind_int_text"><strong>Current location :</strong></h6>
            <p class="card-text ind_int_par">{{indintern.LocationCurrent}}</p><br>

            <h6 class="ind_int_text"><strong>Preffered work mode (in office / work from home) :</strong></h6>
            <p class="card-text ind_int_par">{{indintern.workmode}}</p><br>

            <!-- Display languages -->
            {{#if indintern.language}}
            <h6 class="ind_int_text"><strong>Known languages :</strong></h6>
            <ul class="list-group">
                {{#each indintern.language}}
                    <li class="list-group-item input_box">{{ this }}</li>
                {{/each}}
            </ul><br>
            {{/if}}

            <!-- Display interest areas -->
            {{#if indintern.interestarea}}
            <h6 class="ind_int_text"><strong>Area of interests :</strong></h6>
            <ul class="list-group">
                {{#each indintern.interestarea}}
                    <li class="list-group-item input_box">{{ this }}</li>
                {{/each}}
            </ul><br>
            {{/if}}

            <!-- Display hobbies -->
            {{#if indintern.hobbies}}
            <h6 class="ind_int_text"><strong>Hobbies :</strong></h6>
            <ul class="list-group">
                {{#each indintern.hobbies}}
                    <li class="list-group-item input_box">{{ this }}</li>
                {{/each}}
            </ul><br>
            {{/if}}

            <!-- Display resume -->
            <h6 class="ind_int_text"><strong>Resume :</strong></h6>
            {{#if indintern.resume}}
                <a style="font-weight: bold;" href="/internship-folder/resumes/{{indintern.resume}}" target="_blank">Download Resume</a>
            {{else}}
                <p>No resume available</p>
            {{/if}}<br><br>
            


            <h6 class="ind_int_text"><strong>Posted by : </strong></h6>
                <div style="display: inline-block;padding:20px">
                    <img class="profile_image_internshipportal profileImageAlternate" src="/user-images/{{indintern.UserId}}.jpg" alt="Card image cap" style="width: 50px;height: 50px;border-radius: 50%;object-fit:contain">
                </div>
                <div style="display: inline-block;">
                     <p class="internship_posted_name">{{indintern.Name}}</p>
                </div>
                <div style="display: flex;border-radius:20px;background-color:white;">
                    <a href="/admin/admin-view-profile/{{indintern.UserId}}" class="btn profile_view_internship_button" >view details</a>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const profileImages = document.querySelectorAll('.profileImageAlternate');
        profileImages.forEach(img => {
            const imageUrl = img.src;
            fetch(imageUrl)
                .then(response => {
                    if (!response.ok) {
                        img.src = "/user-images/user.png";
                    }
                })
                .catch(error => {
                    console.error("Error fetching image:", error);
                    img.src = "/user-images/user.png";
                });
        });
    });
</script>