<style>
    body {
        background-color: #ffffff;
            margin: 0;
            align-items: center;
            justify-content: center;
             background-image: url('/images/logo_transparent1.png');
            background-size: 80% auto;
            background-position: center bottom 60%;
            background-repeat: no-repeat;
            background-attachment: fixed;
    }

    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
    }

    .input_box{
        border-radius: 20px;
        width: 100%;
        padding: 20px;
        font-weight: bold;
        border: none;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease;
    }

    .input_box:hover{
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    .search-container {
      position: relative;
      width: 100%;
      margin-top: 30px;
    }

    .showuser2{
        display: none;
    }



    .search-icon {
      position: absolute;
      top: 50%;
      background-color: rgb(93, 138, 222);
      transform: translateY(-50%);
      right: 15px;
      color: #555;
      font-size: 18px;
      font-weight: 500;
    }

    .moreAdvance{
    background-color: rgb(93, 138, 222);
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-bottom: 30px;
    }
    .moreAdvance:hover{
    background-color: rgb(123, 180, 230);
    color: white;
    }

    .all_namers_search{
        font-weight: 600;
        color: black;
        font-size: 16px;
        text-align: center;
    }
    .all_namers_search_name{
        font-weight: 600;
        color: black;
        font-size: 16px;
    }
    .all_namers_search_status{
        font-weight: 600;
        font-size: 16px;
        color: rgb(161, 94, 40);
    }

    .moreAdvanceDD{
    background-color: rgb(93, 138, 222);
    color: white;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    padding: 9px;
    transition: background-color 0.3s ease;
    }
    .moreAdvanceDD:hover{
    background-color: rgb(123, 180, 230);
    color: white;
    }

    .table_title{
        padding: 6px;
         text-align: center;
    }
    .table_title_name{
        padding: 6px;
    }
    .table_title_status{
        padding: 6px;
    }

     @media (max-width: 767px) {
        .all_namers_search{
        font-weight: 600;
        font-size: 14px;
    }
    .all_namers_search_name{
        font-weight: 600;
        font-size: 14px;
    }
    .all_namers_search_status{
        font-weight: 600;
        font-size: 14px;
    }
    .table_title{
        padding: 5px;
        font-size: 15px;
    }
    .table_title_name{
        padding: 5px;
        font-size: 15px;
    }
    .table_title_status{
        padding: 5px;
        font-size: 15px;
    }
    .moreAdvanceDD{
    font-size: 14px;
    font-weight: 600;
    padding: 7px;
    }
    }

    @media (max-width: 604px) {
        .search-icon {
      font-size: 15px;
      font-weight: 500;
    }
    .moreAdvanceDD{
    font-size: 16px;
    padding: 7px;
    }
        
    }

    @media (max-width: 545px) {
        .all_namers_search_name{
            font-weight: 600;
            color: black;
            font-size: 14px;
    }
    .all_namers_search{
            font-weight: 600;
            color: black;
            font-size: 14px;
    }
    .all_namers_search_status{
            font-weight: 600;
            font-size: 14px;
    }
    .moreAdvanceDD{
        font-size: 14px;
    }
    }
    @media (max-width: 460px) {
        .search-icon {
      font-size: 14px;
      font-weight: 500;
      padding: 5px;
    }
    .table_title{
        padding: 6px;
        font-size: 14px;
    }
    .table_title_name{
        padding: 6px;
        font-size: 14px;
    }
    .table_title_status{
        padding: 6px;
        font-size: 14px;
    }
    .all_namers_search{

    }
    }
    @media (max-width:600px){
        .input_box{
            padding: 15px;
        }
        .moreAdvance{
            padding: 10px;
            font-size: 15px;
        }
    }

    @media (max-width:539px){
        .showuser1{
        display: none;
    }
        .showuser2{
        display: block;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        padding: 10px;
        width: 92%;
        border-radius: 5px;
        background-color: aliceblue;
    }
    .moreAdvanceDD{
        width: 100%;
    }
    .user2_para_head{
        font-weight: bold;
        margin-bottom: 0px;
    }
    .user2_para_content{

    }
    }
</style>

<section style="padding-top:140px">
<section class="container">
    <div class="search-container" style="display: inline-block;">
        <form action="/admin/search_working_alumni_in_company" method="post" enctype="multipart/form-data">
            <input type="text" class="input_box" name="companyName" placeholder="Search...">
            <button class="search-icon btn " type="submit"><span style="color: aliceblue;">search</span></button>
        </form>
    </div>

    <div>
        <a style="text-decoration: none;" href="/admin/get_all_working_alumni" class="btn  moreAdvance">Get all working alumni</a>
    </div>
</section>

<section class="container showuser1">
     {{#if usersAll}}
    <table style="width:100%;border-collapse: collapse;">
    <tr>
        <th class="table_title">Profile Image</th>
        <th class="table_title_name">Name</th>
        <th class="table_title_status">Employment status</th>
        <th class="table_title_status">Found in</th>
        <th class="table_title">Show profile</th>
    </tr>
    {{#each usersAll}}
        <tr>
            <td style="padding: 10px;">
                <img class="rounded-circle profileImageAlternate" src="/user-images/{{this._id}}.jpg" alt="Profile Image" style="width: 50px;height: 50px;border-radius: 50%;object-fit: contain;">
            </td>
            <td class="all_namers_search_name">{{this.Name}}</td>
            <td class="all_namers_search_status"><span style="color:rgb(161, 94, 40);">{{this.employmentStatus}}</span></td>
            <td class="all_namers_search_status"><span style="color:rgb(155, 235, 27);">{{this.foundIn}}</span></td>
            <td class="all_namers_search">
                <a href="/admin/admin-view-profile/{{this._id}}" class="btn moreAdvanceDD">profile</a>
            </td>
        </tr>
    {{/each}}
    </table>
</section>
{{/if}}

 {{#if usersAll}}
<section class="container showuser2">
    {{#each usersAll}}
    <div>
        <img class="rounded-circle profileImageAlternate" src="/user-images/{{this._id}}.jpg" alt="Profile Image" style="width: 50px;height: 50px;border-radius: 50%;object-fit: contain;">
    </div>
        <div>
            <p class="user2_para_head" style="margin-top: 10px;">Name : </p>
            <p class="user2_para_content">{{this.Name}}</p>
        </div>
        <div>
            <p class="user2_para_head">Employement status : </p>
            <p class="user2_para_content">{{this.employmentStatus}}</p>
        </div>
        <div>
            <p class="user2_para_head">Found in : </p>
            <p class="user2_para_content">{{this.foundIn}}</p>
        </div>
        <div style="margin-bottom: 80px;">
            <a href="/admin/admin-view-profile/{{this._id}}" class="btn moreAdvanceDD">profile</a>
        </div>
    {{/each}}
</section>
{{/if}}
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const profileImages = document.querySelectorAll('.profileImageAlternate');
        profileImages.forEach(img => {
            const imageUrl = img.src;
            fetch(imageUrl)
                .then(response => {
                    if (!response.ok) {
                        img.src = "/user-images/user.png";
                    }
                })
                .catch(error => {
                    console.error("Error fetching image:", error);
                    img.src = "/user-images/user.png";
                });
        });
    });
</script>
