<style>
        html, body {
            height: 100%;
            overflow: auto;
        }

        body{
        background-image: url('/images/logo_transparent1.png');
        background-size: 70% auto;
        background-position: center bottom 55%;
        background-repeat: no-repeat;
        background-color:aliceblue
    }


        .header_heading{
            text-align: center;
            padding: 10px;
            background-color: rgb(60, 118, 225);
            color: white;
            font-size: 20px;
            font-weight: 510;
            margin-top: 170px;
            padding-top: 20px;
        }

        .add-button {
            background-color: #f3c306;
            color: rgb(0, 0, 0);
            padding: 10px 20px;
            font-weight: bold;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
        }



        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 2;
        }

        .popup-form {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #f1f1f1;
            border: 1px solid #ccc;
            border-radius: 5px;
            z-index: 3;
            width: 30%;
        }

        .popup-form .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        .popup-form .close:hover {
            color: red; /* Change the color on hover as desired */
        }

        .popup-form textarea {
            width: 100%;
            margin-bottom: 10px;
            border-radius: 15px;
            border: none;
            box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
            padding: 10px;
            font-size: 18px;
            box-sizing: border-box;
            resize: vertical; /* Enable vertical resizing */
            overflow: auto; /* Add scrollbar when content exceeds textarea height */
        }

        .popup-form button {
            background-color: #2d649f;
            color: white;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .user-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .user-circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
        }

        .user-name {
            font-weight: bold;
            font-size: 15px;
        }

        .mentorcontainer{
            /*background-color: rgba(16, 161, 239, 0.585);*/
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
            min-height: 130px;
            height: auto;
            background-color: rgba(255, 255, 255, 0.8);
            width: 80%;
            margin-left: auto;
            margin-right: 20px;
            padding: 20px;
            border-radius: 10px 10px 0px 10px;
            margin-top: 30px;
        }

        .messageMentor{
            font-size: 18px;
            font-weight: bold;
            word-wrap: break-word;
            min-height: 60px;
            padding: 20px;
            padding-left: 50px;
        }

        .replycontainer{
            /*background-color: rgb(123, 180, 230);*/
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
            min-height: 130px;
            height: auto;
            width: 70%;
            background-color: rgba(255, 255, 255, 0.8);
            margin-left: auto;
            margin-right: 20px;
            padding: 20px;
            border-bottom: 1px solid #a9a1a1;
        }

        .replycontainer:last-child {
            border-radius: 0px 0px 10px 10px;
        }

        .replyMentor{
            font-size: 18px;
            word-wrap: break-word;
            min-height: 60px;
            padding: 20px;
            font-weight: bold;
            padding-left: 50px;
        }

        .reply-btn{
            text-decoration:none;
            padding-left: 50px;
            font-size: 19px;
            font-weight: 550;
            color:rgb(89, 212, 31);
        }

        .delete-btn{
            text-decoration:none;
            color:red;
            font-size: 19px;
            font-weight: 550;
            margin-left: 20px;
        }

        .edit-btn{
            text-decoration:none;
            color:rgb(241, 198, 10);
            font-weight: 550;
            font-size: 19px;
            margin-left: 20px;
        }

        .edit-btn:hover{
           color:rgb(241, 198, 10); 
           text-decoration:none;
        }

        .reply-btn:hover{
            color:blue;
            text-decoration:none;
        }

        .delete-btn:hover{
           color:red; 
           text-decoration:none;
        }

        .search-container {
            position: relative;
            width: 96%;
            margin-top: 20px;
            margin-bottom: 20px;
            display: block;
            margin: 0 auto;
            margin-bottom:20px;
            margin-top:20px;
        }

        .search-bar {
            width: 100%;
            padding: 20px;
            font-weight: bold;
            border: none;
            border-radius: 20px;
            font-size: 16px;
            outline: none;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        }
        .search-bar:hover{
            box-shadow: 0 0px 4px rgba(0, 0, 0, 0.8);
        }

        .search-icon {
            background-color: #5a96d7;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            color: #555;
            font-size: 18px;
        }
        .search-icon:hover{
            background-color: #2d649f;
        }

        .profile_data{
            background-color:rgb(206, 214, 230);
            width: fit-content;
            padding: 10px;
            border-radius: 20px;
            margin-bottom: 10px;
            display: flex;align-items: center;
        }

        .add_button{
            font-weight: bold;
            width: 700px;
            padding: 20px;
            background-color: rgb(93, 138, 222);
            color:white;
            border-radius: 20px;
            border: none;
            transition: background-color 0.3s ease;
            margin-right: 10px;
        }
        .add_button:hover{
            background-color: rgb(139, 162, 206);
        }

        .more_search_button{
            font-weight: bold; 
            width: 700px;
            padding: 20px;
            background-color: rgb(93, 138, 222);
            color: white;
            border-radius: 20px;
            border: none;
            transition: background-color 0.3s ease;
            margin-left: 10px;
        }
        .more_search_button:hover{
            background-color: rgb(139, 162, 206);
        }

        .button_container{
            display: flex;
            width: 96%;
            margin: auto;
            justify-content: space-between;
        }

        .all_bottom_container{
            background-color: rgb(182, 206, 242);
            padding: 15px;
            border-radius: 20px;
            margin-top: 80px;
        }
        .header_heading{
            margin-top: 150px;
        }

        .athead_name{
            color: rgb(93, 138, 222);
        }

        @media (max-width:1550px) {
           .replycontainer{
            width: 80%;
            margin-right: 10px;
        }
        .mentorcontainer{
             width: 96%;
            margin-right: 10px;
        }
        .popup-form {
            width: 90%;
        }
         .athead_name{
            font-weight:400;
            font-size:13px
        }
        }

        @media (max-width:600px) {
            .search-bar {
            font-weight: bold;
            border-radius: 20px;
            font-size: 10px;
        }
        .search-icon{
            font-size: 13px;
            font-weight: 500;
        }
        .delete-btn{
            margin-left: 15px;
            font-size: 15px;
        }
        .edit-btn{
            margin-left: 15px;
            font-size: 15px;
        }
        .reply-btn{
            font-size: 15px;
        }
        .replyMentor{
            font-size: 13px;
            font-weight: 700;
            padding: 5px;
        }.messageMentor{
            font-size: 13px;
            padding: 5px;
            font-weight: 700;
        }
        .user-name{
            font-size: 12px;
        }
        .add_button{
            font-weight: bold;
            font-size: 12px;
            width: 300px;
            padding: 10px;
        }
        .more_search_button{
            font-weight: bold;
            font-size: 12px;
            width: 300px;
            padding: 10px;
        }
        .replycontainer{
            width: 80%;
            margin-right: 5px;
        }
        .mentorcontainer{
             width: 96%;
            margin-right: 5px;
        }
        .athead_name{
            font-weight:400;
            font-size:13px
        }
        .header_heading{
            margin-top: 140px;
            font-size: 14px;
            padding-top: 10px;
        }
        .popup-form {
            width: 96%;
        }
        }

        

    </style>

        <div class="header_heading">Welcome to Mentorship Portal</div>
        <div style="" class="container-fluid">
        {{#each mentors}}
            <div class="mentorcontainer">
                <div class="profile_data" >
                    <div class="user-circle">
                        <a style="text-decoration: none;" href="/view-profile/{{this.userId}}">
                            <img class="user-image profileImageAlternate" src="/user-images/{{this.userId}}.jpg" alt="User Image">
                        </a>
                    </div>
                    <div style="margin-left: 10px;">
                        <a style="text-decoration: none;color:black;" href="/view-profile/{{this.userId}}">
                            <div class="user-name">{{this.userName}}</div>
                        </a>
                    </div>
                </div>
                <div class="messageMentor">
                    {{this.questionInput}}
                </div>
                <div style="display: flex;align-items: center;">
                    <a class="reply-btn" href="#" onclick="showReplyForm('{{this._id}}')">reply</a>
                    {{#if this.profileCheck}}
                    <a class="edit-btn" href="#" onclick="showQuestionEditForm('{{this._id}}','{{this.questionInput}}')">Edit</a>
                    {{/if}}
                    {{#if this.profileCheck}}
                    <a class="delete-btn" href="" onclick="deleteMentor('{{this._id}}')">delete</a>
                    {{/if}}
                </div>
            </div>
            {{#if this.replies}}
                {{#each this.replies}}
                    <div class="replycontainer">
                        <div class="profile_data">
                            <div class="user-circle">
                                <a style="text-decoration: none;" href="/view-profile/{{this.userId}}">
                                    <img class="user-image profileImageAlternate" src="/user-images/{{this.userId}}.jpg" alt="User Image">
                                </a>
                            </div>
                            <div style="margin-left: 10px;">
                                <a style="text-decoration: none;color:black" href="/view-profile/{{this.userId}}">
                                    <div class="user-name">{{this.userName}}</div>
                                </a>
                            </div>
                        </div>
                        {{#if this.statReply}}
                        <div class="replyMentor">
                            {{this.questionInput}}
                        </div>
                        {{/if}}
                        {{#if this.statReplyofReply}}
                        <div class="replyMentor">
                                <div class="athead_name">@{{this.replytoUsername}}</div>
                            {{this.replyInput}}
                        </div>
                        {{/if}}
                        <div style="display: flex;align-items:center">
                            <a class="reply-btn" href="#" onclick="showReplyReplyForm('{{this._id}}','{{this.userName}}','{{this.questionId}}')">reply</a>
                            {{#if this.checkProfileReply}}
                            <a class="edit-btn" href="#" onclick="showReplyReplyEditForm('{{this._id}}','{{this.questionId}}','{{this.questionInput}}')">Edit</a>
                            {{/if}}
                            {{#if this.checkProfileReply}}
                            <a class="delete-btn" href="" onclick="deleteMentorReply('{{this._id}}','{{this.questionId}}')">delete</a>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            {{/if}}
        {{/each}}
        </div>
        <div class="all_bottom_container">
            <div class="button_container">
                <button class="add_button btn "  onclick="showPopupForm()">Add a question</button>
                <a style="color: white;"  href="/more-advance-search" class="btn more_search_button">
                Find more specific user
                </a>
            </div>
            <div class="search-container" style=" display: block;margin: 0 auto;margin-bottom:20px;margin-top:20px;">
                <form action="/search_mentor" method="post" enctype="multipart/form-data">
                    <input type="text" class="search-bar" name="searchName" placeholder="Search for any existing answered questions.">
                    <button class="search-icon btn" type="submit"><span style="color: aliceblue;">search</span></button>
                </form >
            </div>
        </div>

        <div id="overlay" class="overlay"></div>

        <div id="popupForm" class="popup-form">
            <span class="close" onclick="closePopupForm()">&times;</span>
            <form action="/add-question" method="POST" onsubmit="refreshPage()">
                <label for="questionInput">Add your question</label>
                <textarea id="questionInput" name="questionInput" placeholder="Add your question" rows="5" oninput="resizeTextarea()"></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>

        <div id="replyForm" class="popup-form">
            <span class="close" onclick="closeReplyForm()">&times;</span>
            <form action="/add-reply" method="POST" onsubmit="refreshPage()">
                <input type="hidden" id="hiddenMentorId" name="questionId" value="">
                <label for="questionInput">Add your reply</label>
                <textarea id="questionInput" name="questionInput" placeholder="Add your reply" rows="5" oninput="resizeTextarea()"></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>

        <div id="editQuestionForm" class="popup-form">
            <span class="close" onclick="closeQuestionEditForm()">&times;</span>
            <form id="editQuestionForm" action="/edit-question" method="POST" onsubmit="return confirmSubmit()">
                <input type="hidden" id="hiddenQuestionId" name="questionId" value="">
                <label for="questionInput">Edit your Question</label>
                <textarea id="questionInputEdit" name="questionInput" rows="5" oninput="resizeTextarea()"></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>

        <div id="replyReplyForm" class="popup-form">
            <span class="close" onclick="closeReplyReplyForm()">&times;</span>
            <form id="replyReplyForm" action="/add-reply-ofreply" method="POST" onsubmit="refreshPage()">
            
                <input type="hidden" id="hiddenReplyId" name="replyId" value="">
                <input type="hidden" id="hiddenReplyUsername" name="replytoUsername" value="">
                <input type="hidden" id="hiddenMentorQuestionIdInput" name="questionId" value="">
                <label for="questionInput">Add your reply</label>
                <textarea id="replyInput" name="replyInput" placeholder="Add your reply" rows="5" oninput="resizeTextarea()"></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>

        <div id="replyReplyEditForm" class="popup-form">
            <span class="close" onclick="closeReplyReplyEditForm()">&times;</span>
            <form id="replyReplyEditForm" action="/edit-reply" method="POST" onsubmit="refreshPage()">
                <input type="hidden" id="hiddenEditReplyId" name="replyId" value="">
                <input type="hidden" id="hiddenMentorEditQuestionIdInput" name="questionId" value="">
                <label for="questionInput">Edit your reply</label>
                <textarea id="replyreplyEditInput" name="replyInput" placeholder="Add your reply" rows="5" oninput="resizeTextarea()"></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>

    

<script>

        function scrollToBottom() {
            document.body.scrollTop = document.body.scrollHeight;
            document.documentElement.scrollTop = document.documentElement.scrollHeight;
        }

        window.onload = function () {
            scrollToBottom();
        };


        function showPopupForm() {
            var overlay = document.getElementById("overlay");
            var popupForm = document.getElementById("popupForm");
            overlay.style.display = "block";
            popupForm.style.display = "block";
            scrollToBottom();
        }

        function closePopupForm() {
            var overlay = document.getElementById("overlay");
            var popupForm = document.getElementById("popupForm");
            overlay.style.display = "none";
            popupForm.style.display = "none";
        }

        function showReplyForm(mentorId) {
            var overlay = document.getElementById("overlay");
            var replyForm = document.getElementById("replyForm");
            var hiddenMentorIdInput = document.getElementById("hiddenMentorId");

            hiddenMentorIdInput.value = mentorId;

            overlay.style.display = "block";
            replyForm.style.display = "block";
        }

        function closeReplyForm() {
            var overlay = document.getElementById("overlay");
            var replyForm = document.getElementById("replyForm");
            overlay.style.display = "none";
            replyForm.style.display = "none";
        }

        function showQuestionEditForm(mentorId,questionInput) {
            var overlay = document.getElementById("overlay");
            var editQuestionForm = document.getElementById("editQuestionForm");
            var hiddenMentorIdInput = document.getElementById("hiddenQuestionId");
            var questionInputTextarea = document.getElementById("questionInputEdit");

            hiddenMentorIdInput.value = mentorId;
            questionInputTextarea.value = questionInput;

            overlay.style.display = "block";
            editQuestionForm.style.display = "block";
        }

        function closeQuestionEditForm() {
            var overlay = document.getElementById("overlay");
            var editQuestionForm = document.getElementById("editQuestionForm");
            overlay.style.display = "none";
            editQuestionForm.style.display = "none";
        }

        function showReplyReplyForm(replyId,userName,questionId) {
            var overlay = document.getElementById("overlay");
            var replyReplyForm = document.getElementById("replyReplyForm");
            var hiddenReplyIdInput = document.getElementById("hiddenReplyId");
            var hiddenMentorIdInput = document.getElementById("hiddenQuestionId");
            var hiddenReplyUsernameInput = document.getElementById("hiddenReplyUsername");
            var replyInputTextarea = document.getElementById("replyInput");

            hiddenReplyIdInput.value = replyId;
            hiddenReplyUsernameInput.value = userName;
            hiddenMentorQuestionIdInput.value = questionId;

            overlay.style.display = "block";
            replyReplyForm.style.display = "block";
        }

        function closeReplyReplyForm() {
            var overlay = document.getElementById("overlay");
            var replyReplyForm = document.getElementById("replyReplyForm");
            overlay.style.display = "none";
            replyReplyForm.style.display = "none";
        }

        function showReplyReplyEditForm(replyId,questionId,userInput) {
            var overlay = document.getElementById("overlay");
            var replyReplyEditForm = document.getElementById("replyReplyEditForm");
            var hiddenReplyEditIdInput = document.getElementById("hiddenEditReplyId");
            var hiddenMentorEditIdInput = document.getElementById("hiddenMentorEditQuestionIdInput");
            var replyInputEditTextarea = document.getElementById("replyreplyEditInput");

            hiddenReplyEditIdInput.value = replyId;
            hiddenMentorEditIdInput.value = questionId;
            replyInputEditTextarea.value = userInput;

            overlay.style.display = "block";
            replyReplyEditForm.style.display = "block";
        }

        function closeReplyReplyEditForm() {
            var overlay = document.getElementById("overlay");
            var replyReplyEditForm = document.getElementById("replyReplyEditForm");
            overlay.style.display = "none";
            replyReplyEditForm.style.display = "none";
        }

        function confirmSubmit() {
            var confirmation = confirm("Are you sure you want to submit the edited question?");
            return confirmation;
        }

        function resizeTextarea() {
            var textarea = document.getElementById("questionInput");
            textarea.style.height = "auto";
            textarea.style.height = (textarea.scrollHeight) + "px";
        }

        function refreshPage() {
            location.reload(true);
            scrollToBottom();
        }
        

         function deleteMentor(mentorId) {
            if (confirm("Do you want to delete this question from portal?")) {
                $.ajax({
                url: '/delete-mentor',
                method: 'post',
                data: {
                    MentoR: mentorId,
                },
                success: function (response) {
                    if (response.deleteMentor) {
                    location.reload();
                    }
                },
                });
            }
        }

        function deleteMentorReply(replyId,questionId) {
            if (confirm("Do you want to delete this response from portal?")) {
                $.ajax({
                url: '/delete-mentor-reply',
                method: 'post',
                data: {
                    MentorreplY: replyId,
                    QuestioN:questionId
                },
                success: function (response) {
                    if (response.deleteMentorReply) {
                    location.reload();
                    }
                },
                });
            }
        }

    </script>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const profileImages = document.querySelectorAll('.profileImageAlternate');
        profileImages.forEach(img => {
            const imageUrl = img.src;
            fetch(imageUrl)
                .then(response => {
                    if (!response.ok) {
                        img.src = "/user-images/user.png";
                    }
                })
                .catch(error => {
                    console.error("Error fetching image:", error);
                    img.src = "/user-images/user.png";
                });
        });
    });
</script>
<script>
     function sendTimestampOnUnload() {
        const timestamp = new Date().toISOString();
        fetch('/send_timestamp_leave_mentorportal', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ timestamp }),
        });
        //window.location.reload();
    }
    window.addEventListener('beforeunload', sendTimestampOnUnload);
</script>