<style>
     body {
        background-color:rgb(245, 247, 249);
            margin: 0;
            align-items: center;
            justify-content: center;
             background-image: url('/images/logo_transparent1.png');
            background-size: 70% auto;
            background-position: center bottom 60%;
            background-repeat: no-repeat;
            background-attachment: fixed;
    }

    @media (max-width: 768px) {
        body {
            background-image: url('/images/logo1.png');
            background-position: center bottom 40%;
        }
    }

    .container {
        padding: 3%;
        max-width: 1000px;
        margin: 0 auto;
        height: auto;
    }

    .post-container {
        position: relative;
        height: auto;
        background-color: rgb(255, 255, 255,0.8);
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
    }

    .post_head{
        height: 75px;
        display: flex;
        padding: 15px;
        align-items: center;
    }
    .post_head_image{

    }
    .rounded_circle_post_head_image{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit:contain
    }
    .post_head_name_location_div{
        margin-left: 10px;
    }
    .post_head_name{
        font-weight: bold;
        margin: 0;
    }
    .location-post{
        margin: 0px;
        font-size: 12px;
        padding: 0;
        color: #645f5f;
    }

    .post_middle{

    }

    .image-container-post{

    }
    .post_image{
        height:450px;
        object-fit:contain;
        margin-bottom:10px;
    }

    .video-container-post{
        margin-top: 10px;
    }
    .post_video{
        object-fit: contain;
        width: 100%;
        height:450px;
    }

    .post_tail{

    }
    .like_comment_container{
        display: flex;
        align-items: center;
        margin-left: 12px;
    }
    .like-container {
        align-items: center;
        display: flex;
    }
    .heart-button {
        background-color: transparent;
        color: #000000;
        border: none;
        cursor: pointer;
        font-size: 28px;
    }

    #like-count {
        margin-left: 0px;
        font-size: 18px;
        align-items: center;
    }
    .comment-container{
        align-items: center;
        margin-left:30px
    }
    .comment-button {
        background-color: rgb(147, 136, 136);
        border-radius: 30%;
        border: none;
        color: #333;
        font-size: 20px;
        cursor: pointer;
    }   

    .comment-button:hover {
        color: #666;
    }
    .caption-post{
        margin-left: 12px;
    }
    .caption-text{
        font-size: 17px; 
        white-space: nowrap; 
        overflow: hidden; 
        font-weight: 600;
        text-overflow: ellipsis;
    }

    .read-more {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: white;
        padding: 5px;
        font-weight: 500;
        cursor: pointer;
        color: rgb(14, 14, 15);
        text-decoration: none;
    }

    .no-scroll {
        overflow: hidden;
    }
    .hidden {
        display: none;
    }

     @media (max-width: 878px) {
    .post_image{
        height:450px;
    }
    .post_video{
        height:450px;
    }
    }
     @media (max-width: 778px) {
    .post_image{
        height:350px;
    }
    .post_video{
        height:350px;
    }
    }
     @media (max-width: 448px) {
    .post_image{
        height:300px;
    }
    .image-container-post{
        height:300px;
    }
    .video-container-post{
        height:300px;
    
    }
    .post_video{
        height:300px;
    }
     .caption-text{
        font-size: 14px;
    }
    .post_head{
        height: 75px;
        padding-top: 10px;
        padding-bottom: 6px;
        padding-left: 12px;
    }
     }

</style>

<section style="padding-top: 190px;">
    {{#each otherPosts}}
        <div class="container">
            <div class="post-container">
                <div class="post_head">
                    <a href="/view-profile/{{this.UserId}}" style="text-decoration: none;">
                        <div class="post_head_image">
                            <img class="rounded_circle_post_head_image profileImageAlternate" src="/user-images/{{this.UserId}}.jpg" alt="Card image cap">
                        </div>
                    </a>
                    <a href="/view-profile/{{this.UserId}}" style="text-decoration: none;color:black">
                        <div class="post_head_name_location_div">
                            <h6 class="post_head_name">{{this.Name}}</h6>
                            {{#if postLocation}}
                                <p class="location-post">{{this.location}}</p>
                            {{/if}}
                        </div>
                    </a>
                </div>
                <div class="post_middle">
                    {{#if imagePresent}}
                    <div class="image-container-post">
                        <div id="carouselExampleIndicators-{{this._id}}" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {{#each this.ImageNames}}
                                    <li data-target="#carouselExampleIndicators-{{../_id}}" data-slide-to="{{@index}}" {{#if @first}}class="active"{{/if}}></li>
                                {{/each}}
                            </ol>
                            <div class="carousel-inner">
                                {{#each this.ImageNames}}
                                    <div class="carousel-item {{#if @first}}active{{/if}}">
                                        <img src="/posts/{{../UserId}}/{{../_id}}/{{this}}" alt="Image {{@index}}" class="post_image">
                                    </div>
                                {{/each}} 
                            </div>
                                
                            <a class="carousel-control-prev" href="#carouselExampleIndicators-{{this._id}}" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators-{{this._id}}" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    {{/if}}
                    {{#if videoPresent}}
                    <div class="video-container-post">
                        <video class="post_video" controls autoplay loop muted>
                            <source src="/posts/{{this.UserId}}/{{this._id}}/{{this.VideoNames}}" type="video/mp4">
                        </video>
                    </div>
                    {{/if}}
                </div>
                <div class="post_tail">
                    <div class="like_comment_container">
                        <div class="like-container" >
                            <button {{#if liked}} style="color: #ff0000;"{{/if}} class="heart-button" onclick="toggleLike('{{../userId}}','{{this._id}}')">&#x2764;</button>
                            <span id="like-count">{{this.like_count}}</span>
                        </div>
                        <div class="comment-container">
                            <a class="nav-link"  onclick="viewComment('{{this._id}}')"><i class="fas fa-comment-dots" style="font-size: 27px; color:rgb(14, 12, 12)"></i></a>
                        </div>
                    </div>

                    <div class="caption-post">
                        <p  class="caption-text">
                            {{this.description}}
                        </p>
                        <p class="read-more" onclick="toggleReadMore(this)">Read more</p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</section>


<script>

    const POST_ID = getElementById('postId')
    const POST_OWNER_ID = getElementById('postOwnerId')
    const POST_OWNER_NAME = getElementById('postOwnerName')
    const COMMENT_OWNER_NAME = getElementById('commentOwnerName')
    const COMMENT_OWNER_ID = getElementById('commentOwnerId')

    function toggleReadMore(button) {
        var captionText = button.previousElementSibling;
        captionText.style.whiteSpace = captionText.style.whiteSpace === 'nowrap' ? 'normal' : 'nowrap';
        button.textContent = captionText.style.whiteSpace === 'nowrap' ? 'Read more' : 'Read less';
    }

    function toggleLike(userId, postId) {
    $.ajax({
        url: '/add-like',
        method: 'post',
        data: {
            UserID: userId,
            PostID: postId
        },
        success: function (response) {
            console.log(response); // Check the response in the browser console
            if (response.likesUpdated) {
                // Reload the page if the like is added successfully
                location.reload();
            }
        }
    });
}


    function toggleBodyScroll() {
        document.body.classList.toggle('no-scroll');
    }

    function resizeTextarea() {
        var textarea = document.getElementById("message-comment");
        textarea.style.height = "auto";
        textarea.style.height = (textarea.scrollHeight) + "px";
    }
    

</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const profileImages = document.querySelectorAll('.profileImageAlternate');
        profileImages.forEach(img => {
            const imageUrl = img.src;
            fetch(imageUrl)
                .then(response => {
                    if (!response.ok) {
                        img.src = "/user-images/user.png";
                    }
                })
                .catch(error => {
                    console.error("Error fetching image:", error);
                    img.src = "/user-images/user.png";
                });
        });
    });
</script>
<script>
     function sendTimestampOnUnload() {
        const timestamp = new Date().toISOString();
        fetch('/send_timestamp_leave_otherposts', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ timestamp }),
        });
        //window.location.reload();
    }
    window.addEventListener('beforeunload', sendTimestampOnUnload);
</script>
