<style>

    .profile_view_image{
        display: inline-block;
        width: 500px;
        border-radius: 50%; 
        object-fit: cover;
        height: 500px;
        margin: 20px;
    }

    .detail_div{
        overflow: auto; 
        word-wrap: break-word;
    }
    .detail_div_head{
        font-weight: 600px;
    }
    .detail_div_text{
        overflow: auto; 
        word-wrap: break-word;
        font-weight: 550;
        color: black;
    }
    .detail_div_text_head{
        color: rgb(30, 61, 120);
    }

    .container-fluid {
        overflow: auto; 
        word-wrap: break-word;
    }

    .footed{
        text-align: center;
    }

    .BlockStat{
        text-align: center;
        margin-bottom:90px;
        font-weight: 500;
        font-size: 18px;
    }

    .unBLKBTN{
        background-color: rgb(93, 138, 222);
        color: white;
        font-weight: bold;
        transition: background-color 0.3s ease;
        border-radius: 6px;
    }
    .unBLKBTN:hover{
        background-color: rgb(34, 84, 178);
        color: #ffffff;
    }

    @media (max-width: 626px) {
        .BlockStat{
        margin-top: 70px;
        font-weight: 500;
        font-size: 16px;
    }
    }

    @media (max-width: 432px) {
        .BlockStat{
        margin-top: 90px;
        font-weight: 500;
        font-size: 14px;
    }
    }

    @media (max-width: 374px) {
        .BlockStat{
        font-size: 13px;
    }
    }
    
    @media (max-width: 600px) {
        .profile_view_image {
            max-width: 400px;
            max-height: 400px;
            margin: 10px;
        }
    }
     @media (max-width: 480px) {
        .profile_view_image {
            max-width: 315px;
            max-height: 315px;
            margin: auto;
            margin-left: 15px;
        } 
        .footed{
            font-size: 14px;
        }
    }

    .contain {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .detail_div{
        display: inline-block;
        margin-left: 170px;
    }

    @media (max-width: 1340px) {
        .contain {
            flex-direction: column;
        } 
        .detail_div{
            margin-left: 35px;
        } 
    }

    @media (max-width: 399px) {
        .container-fluid {
            padding-left: 0px;
        }
    }

</style>

<section style="background: linear-gradient(to right, rgb(223, 238, 250), #ffffff); padding-top: 180px;">
    <div class="container-fluid">
        <div class="col-md-12">

            <div class="contain">
                <div  style="display: inline-block;" >
                    <div style="display: block;">
                        <img class="profile_view_image"  src="/user-images/user.png" >
                    </div>
                </div>
                <div class="detail_div" >
                    <h3 class="card-title mt-3 detail_div_head">{{profile.Name}}</h3>
                    <p class="card-text detail_div_text_head"><strong>Status : </strong><br><span class="detail_div_text">{{profile.Status}}</span></p>
                    {{#if isAlumni}}
                        {{#if hasPassyear}}
                            <p class="card-text detail_div_text_head"><strong>Passout Year : </strong><br><span class="detail_div_text">{{profile.passoutYear}}</span></p>
                        {{/if}}
                    {{/if}}
                    {{#if hasAdmissionYear}}
                        <p class="card-text detail_div_text_head"><strong>Admission Year : </strong><br><span class="detail_div_text">{{profile.AdmissionYear}}</span></p>
                    {{/if}}
                </div>
            </div>
            {{#if iWasBlocked}}
                <p class="BlockStat" >YOU CANNOT VIEW THIS ACCOUNT BECAUSE YOU WERE BLOCKED BY THE USER</p>
            {{/if}}
            {{#if iBlocked}}
            <div class="BlockStat">
                <p>YOU CANNOT VIEW THIS ACCOUNT BECAUSE YOU BLOCKED THIS USER</p>
                <a href="/unblock_user_profile/{{profile._id}}" class="btn unBLKBTN" onclick="confirmUnblock(event)">Unblock</a>
            </div>
            {{/if}}
        </div>
    </div>
</section>
<footer class="footed">profile ID : {{profile._id}}</footer>

<script>
    function confirmUnblock(event) {
    event.preventDefault(); // Prevent the default behavior of the link

    // Show the confirmation dialog
    if (confirm("Are you sure you want to unblock?")) {
        // If the user confirms, proceed with unblocking
        window.location.href = event.target.href; // Redirect to the unblock URL
    }
}
</script>
